<p>
  <mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Add your location</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>
  </mat-toolbar>
</p>
<main class="main">
  <div class="content">
    <div class="left-side"> 
      <google-map 
        height="500px"
        width="750px"
        [center]="center"
        [zoom]="zoom"
        (mapClick)="addMarker($event)">
        <ng-container *ngFor="let position of markerPositions; let i = index">
          <map-marker #marker="mapMarker" (mapClick)="openInfoWindow(marker)" [clickable]="true"
            [position]="position" [options]="getOptions(position)">
          </map-marker>
        </ng-container>
        <map-info-window>Info Window content</map-info-window>
      </google-map>
    </div>
  </div>
</main>
<router-outlet />
