<p>
  <mat-toolbar color="primary">
    <span>PinPoint Clion</span>
    <span class="example-spacer"></span>
  </mat-toolbar>
</p>
<main class="main">
  <div class="content">
    <div class="left-side" style="justify-content: center; display: flex;"> 
      <google-map 
        height="800px"
        width="750px"
        [center]="center"
        [zoom]="zoom"
        (mapClick)="addMarker($event)">
        <ng-container *ngFor="let position of markerPositions; let i = index">
          <map-marker #marker="mapMarker" (mapClick)="openInfoWindow(i, marker)" [clickable]="true"
            [position]="position" [options]="getOptions(i)">
          </map-marker>
        <map-info-window>
         <div>
          <img [src]="infoContent.image" alt="Uploaded Image" style="vertical-align: middle;
          width: 100px;
          height: 100px;
          border: 3px solid #3f51b5;
          margin: 10px;">
          <h3>{{infoContent.name}}</h3>
         </div>
          <span>{{infoContent.about}}</span>
        </map-info-window>
      </ng-container>
      </google-map>
    </div>
  </div>
</main>
<router-outlet />
