<p>
  <mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Add your location</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>
  </mat-toolbar>
</p>
<main class="main">
  <div class="content">
    <div class="left-side"> 
      <google-map 
        height="500px"
        width="750px"
        [center]="center"
        [zoom]="zoom"
        (mapClick)="addMarker($event)">
        <ng-container *ngFor="let position of markerPositions; let i = index">
          <map-marker #marker="mapMarker" (mapClick)="openInfoWindow(i, marker)" [clickable]="true"
            [position]="position" [options]="getOptions(i)">
          </map-marker>
        <map-info-window>
         <div>
          <img [src]="infoContent.image" alt="Uploaded Image" class="avatarImage" style="vertical-align: middle;
          width: 30px;
          height: 30px;
          border-radius: 50%;
          border: 3px solid #3f51b5;
          margin: 10px;
          position: absolute;
          top: 0px;
          right: -10px;">
          <h3>{{infoContent.name}}</h3>
         </div>
          <span>{{infoContent.about}}</span>
        </map-info-window>
        <!-- <map-info-window [innerHTML]="infoContent"></map-info-window> -->
      </ng-container>
      </google-map>
    </div>
  </div>
</main>
<router-outlet />
