/* You can add global styles to this file, and also import other style files */
.avatarImage {
  vertical-align: middle;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 3px solid black;
  margin: 10px;
}